* {
    font-family: 'Orbit', sans-serif;
}

body, html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* header */
.align-items-right > p:nth-child(1) {
    margin: 0px 30px 0px 0px;
    font-size: 18px;
    cursor: pointer;
}

.align-items-right > p:nth-child(2) {
    margin: 0px 0px 0px 30px;
    font-size: 18px;
    cursor: pointer;
}

align-items-center > strong {
    font-size: 20px;
}

.align-items-right > p:hover {
    font-weight: bold;
    cursor: pointer;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 좌측 정렬 */
    padding: 20px; /* 컨테이너의 내부 여백 */
}

.container-top{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px; /* 컨테이너의 내부 여백 */
}

.one{
    width: 10%;
    display: flex;
    justify-content: right;

}

.two {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.two > a {
    font-size: 17px;
    margin: 0px 0px 0px 30px;
    padding: 0px;
    text-align: start;
}

.two > a:nth-child(1) {
    font-size: 20px;
}


/* ... 이전 코드 ... */

.edit-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    background-color: rgba(200, 200, 200, 0.1);
    resize: none;
    box-sizing: border-box; /* 수정한 부분 */
    outline: none;
}

.button-container {
    display: flex;
    justify-content: space-between; /* 버튼 간격을 최대로 확보 */
    align-items: center; /* 세로 중앙 정렬 */
}

.bottom {
    width: 90%;
    margin: auto;
}

.tab-content {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 비밀번호 변경 */

#home-tab-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    background-color: transparent;
    background-color: rgba(200, 200, 200, 0.05);
}

.tab-content .tab-pane {
    width: 100%;
}

#profile-tab-pane{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}
