:root {
    --primary-color: #91C788;
}

* {
    font-family: 'Orbit', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 추가 */
    align-items: center; /* 세로 가운데 정렬 추가 */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* 카드 전체 속성 */
.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 90%;
    width: 80%;
}

/* 카드 상단부 - 제목과 설명*/

.card-title {
    font-size: 24px;
    width: auto;
    box-sizing: border-box;
    margin: 10px 0;
}

.edit-title {
    font-size: 24px;
    margin: 10px 0;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

.card-title-section {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 각 요소 사이의 간격을 최대한 늘림 */
    margin-bottom: 10px;
    height: 10%;
}

.card-buttons button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-title2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.card-description-wrapper {
    width: 100%;
}

.card-description-wrapper > p {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box; /* 수정한 부분 */
}

.card-description-wrapper > textarea {
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box; /* 수정한 부분 */
    outline: none;
}

/* 카드 중반부 - user 설정 */

.user-selection {
    position: relative;
    margin-bottom: 10px;
}

.user-input-wrapper{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-user-btn{
    width: 10%;
    margin-left: 2%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-selection input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box; /* 수정한 부분 */
    border: 1px solid #ccc;
}

.user-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-list-item {
    padding: 10px;
    cursor: pointer;
}

.user-list-item:hover {
    background-color: #f0f0f0;
}

.selected-users {
    margin-top: 10px;
}

.selected-user {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* 카드 하반부 - 댓글 작성 및 조회 */

.comment-section {
    width: 100%;
    margin-top: 20px; /* 추가한 부분 */
}

.comment-section > h2 {
    margin-top: 0px;
}

.comment-submit-section{
    display: flex;
    height: 6vh;
    flex-direction: row;
    margin-bottom: 10px;
}

.comment-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.add-comment-btn {
    width: 10%;
    margin-left: 2%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-section {
    width: 100%;
    margin-top: 20px;
    overflow-y: auto; /* 스크롤 생성 */
}

.comment-list {
    max-height: 18vh;
    overflow-y: auto;
}

.comment-list::-webkit-scrollbar {
    width: 10px;
}

.comment-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.comment-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary-color);
}

.comment-list::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.comment_one {
    height: 10vh;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.comment_one > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}

.comment_one > div:nth-child(2) {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 가로로 길게 정렬 */
    width: 83%;
}

.comment_one > div:nth-child(3) {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 가로로 길게 정렬 */
    justify-content: space-between;
    width: 10%;
}

.comment_one > div > img {
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.comment_one > div > p {
    width: 90%;
    margin: auto 0 auto 10px;
}

.updateBtn, .deleteBtn {
    margin-left: 2%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-form{
    width: 100%;
    display: flex;
}

#updatecomment {
    margin-left: 10px;
    margin-right: 20px;
    width: 90%;
}

.edit-form-button{
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 가로로 길게 정렬 */
    justify-content: space-between;
    width: 10%;
}

.submitBtn, .cancelBtn {
    margin-left: 2%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 달력 */
#datepickerContainer {
    position: relative;
}

#datepicker {
    position: absolute;
}

.date-section {
    display: flex;
    flex-direction: row;
}

.date-section > p {
    margin: 0 0 0 10px;
}

#showDatePicker{
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 배경색 변경 */
.card-buttons{
    width: 18%;
}

#colorPalette {
    display: flex;
    flex-direction: row;
    float: right;
}

#chageColor{
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}