<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!--부트스트랩 -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- sortable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/board.css">

    <title>하-ㄹ모니</title>
    <style>

    </style>
</head>
<body>
<div class="body-container" th:style="'background-color:' + ${board.boardColor}">
    <div class="top-container">
        <div class="board-title-container">
            <h1 class="board-title" id="board-title" th:text="${board.boardTitle}">보드 이름</h1>
            <input class="board-edit" style="display: none;" th:id="${board.boardId}">
            <p th:text="${board.boardDesc}">보드 설명</p>
        </div>

        <div class="invite-btn-container">
            <button class="btn btn-outline-danger" th:onclick="'deleteBoardUser(\'' + ${board.boardId} + '\')'"
                    type="button">Board 떠나기
            </button>
            <button class="btn btn-outline-success" th:onclick="'inviteBoardUser(\'' + ${board.boardId} + '\')'"
                    type="button"> 회원 초대하기
            </button>
            <button type="button">
                <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                   role="button">
                    회원 목록
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:each=" user : ${boardUsers}" th:text="${user.username}">Action</a>
                    </li>
                </ul>
            </button>
            <button class="gotomain" id="redirectButton" type="button">X</button>
        </div>
    </div>
    <div class="content-container">
        <div class="column-list-wrapper" th:data-column-id="${column.columnId}" th:each="column : ${columns}">
            <div class="list-content">
                <div class="column-title-box">
                    <!--TODO 수연님께 클릭해서 입력창 활성화 외부클릭해서 비활성화 카피해오기 -->
                    <!--서버쪽에서 컬럼마다 ID 값과 Name을 갖고와서 매칭시키는 작업 필요 - text:name, id:id -->
                    <!--실제 입력 액션을 취하고 나서는 서버쪽으로 id를 같이 보내주어야 하기 때문 -->
                    <h2 class="column-title" th:text="${column.boardColumnName}">보드컬럼명1</h2>
                    <input class="column-edit" style="display: none;" th:id="${column.columnId}">
                    <button class="delete-column" th:onclick="'deleteColumn(\'' + ${column.columnId} + '\')'">X</button>
                    <!-- X 버튼 추가 -->
                </div>
                <!-- 카드수만큼 카드 생성 -->
                <div class="list-cards" th:data-column-id="${column.columnId}">
                    <a class="list-card" draggable="true" th:data-card-id="${card.cardId}"
                       th:each="card: ${column.getCardsName()}" th:href="@{/api/cards/{cardid}(cardid=${card.cardId})}">
                        <div class="list-card-detail">
                            <!-- 카드 내 내용들 아이콘으로 표시하거나 실제로 text로 보여줘야 함 -->
                            <span class="list-card-title" th:id="${card.cardId}"
                                  th:text="${card.cardName}">카드 제목 1-1</span>
                        </div>
                    </a>
                </div>
                <div class="card-components">
                    <!-- TODO 클릭했을 때 입력창과 추가 확인버튼, 취소버튼이 있는 div 로 변경-->
                    <a class="create-card-composer">
                        <span class="icon-add"><img src="/icons/plus-icon-36.png"></span>
                        <span class="add-a-card" th:id="${column.columnId}">Add a Card"</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="column-list-wrapper-column-add">
            <div class="add-board-column-box">
                <div class="add-board-column-btn-box">
                    <img src="/icons/plus-icon-36.png">
                    <span class="icon-add">Add BoardColumn</span>
                </div>
                <!-- 숨어있는 input 위 span 클릭 시 등장-->
                <input autocomplete="off" class="board-column-name-input"
                       id="board_column_name"
                       placeholder="Enter 보드컬럼 title" type="text">

                <div class="board-column-control">
                    <img src="/icons/plus-icon-36.png">
                    <input class="add-execute-btn" type="submit" value="Add 보드컬럼">
                    <a class="icon-close"><img src="/icons/cancel-button.png"></a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script>
    // Sortable.js를 초기화하여 컬럼을 드래그 앤 드롭 가능하게 만듦 ->완성
    const columnList = document.querySelector(".content-container");
    var columnSortable = new Sortable(columnList, {
        group: 'shared',
        animation: 150,
        ghostClass: 'ghost',
        onStart: function (event) {
            fromColumnId = event.from.querySelector(".ghost").getAttribute("data-column-id");
            console.log("From Column ID:", fromColumnId);
        },
        onEnd: function (event) {
            const toColumnId = event.to.querySelector(".column-list-wrapper").getAttribute("data-column-id"); // 새로 추가된 부분
            const newIndex = Array.from(event.to.children).indexOf(event.item) + 1;
            console.log("To Column ID:", toColumnId); // 새로 추가된 부분
            console.log("At Index:", newIndex);

            // 서버로 데이터 전송하는 함수 호출 (이 부분을 실제 서버 요청 코드로 대체해야 함)
            let url = window.location.href;
            let id = url.replace("http://localhost:8080/api/boards/", "");
            console.log(id);

            // 여기에 서버 요청 코드를 추가
            $.ajax({
                type: "PUT",
                url: `/api/board-columns/${fromColumnId}`,
                contentType: "application/json",
                data: JSON.stringify({
                    boardId: id,
                    boardColumnOrder: newIndex
                }),
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    alert("Error!");
                    window.location.reload();
                }
            })
        },
    });


    // list-card 요소에 대한 Sortable 초기화
    const listCardContainers = document.querySelectorAll('.list-cards');
    listCardContainers.forEach(cardContainer => {
        new Sortable(cardContainer, {
            group: 'list-card',
            animation: 150,
            onEnd: async (evt) => {
                console.log('카드 이동');
                console.log('카드 ID:', evt.item.dataset.cardId);
                console.log('새 컬럼 ID:', evt.item.parentElement.dataset.columnId);
                console.log('새 위치:', evt.newIndex);

                var cardId = evt.item.dataset.cardId;
                var cardcolumnId = evt.item.parentElement.dataset.columnId;
                var cardnewIndex = evt.newIndex;

                $.ajax({
                    type: "PUT",
                    url: `/api/cards/${cardId}/orders`,
                    contentType: "application/json",
                    data: JSON.stringify({
                        columnId: cardcolumnId,
                        cardOrder: cardnewIndex
                    }),
                    success: function () {
                        console.log("success");
                    }, error: function () {
                        console.log("error");
                    }

                })
            }
        });
    });

    // 서버로 데이터 전송하는 함수 (실제 서버 요청 코드로 대체 필요)
    function sendCardMoveData(cardId, fromColumnId, toColumnId, cardIndex) {
        // 여기에 서버 요청 코드를 추가
    }

    // 버튼 요소 가져오기
    const button = document.getElementById('redirectButton');

    // 버튼 클릭 이벤트 리스너 등록
    button.addEventListener('click', () => {
        window.location.href = 'http://localhost:8080/api/boards';
    });


    // 보드 사용자 초대를 누르면 나오는 팝업창
    function inviteBoardUser(boardId) {
        Swal.fire({
            title: '초대할 사용자 아이디',
            text: '이메일 형태로 입력해주세요',
            input: 'text',
            inputPlaceholder: '사용자 아이디 입력..',
            showCancelButton: true,
            confirmButtonText: '초대하기',
            cancelButtonText: '취소',
            preConfirm: (username) => {
                return new Promise((resolve, reject) => {
                    // 서버에 초대 요청 전송
                    $.ajax({
                        url: '/api/invited/' + boardId,
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify({
                            username: username
                        }),
                        success: function (data) {
                            console.log(data);
                            // 초대 성공 토스트 메시지 표시
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'center-center',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            });
                            Toast.fire({
                                icon: 'success',
                                title: '초대 성공',
                                text: data.responseText,
                            });
                            resolve();
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr);
                            console.log(status);
                            console.error(error);
                            // 초대 실패 토스트 메시지 표시
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'center-center',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            });
                            Toast.fire({
                                icon: 'error',
                                title: '초대 실패',
                                text: xhr.responseText,
                            });
                            reject();
                        }
                    });
                });
            },
            allowOutsideClick: () => !Swal.isLoading() // 모달 바깥 클릭 시 닫히지 않도록 설정
        });
    }

    // 보드 떠나기 누르기
    function deleteBoardUser(boardId) {
        Swal.fire({
            title: '정말 떠나시겠습니까?',
            showCancelButton: true,
            confirmButtonText: '떠나기',
            cancelButtonText: '취소',
            preConfirm: (username) => {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: '/api/boardUser/' + boardId,
                        type: 'DELETE',
                        contentType: "application/json",
                        success: function (data) {
                            console.log(data);
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'center-center',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            });
                            Toast.fire({
                                icon: 'success',
                                title: '안녕히가세요',
                                text: '이용해주셔서 감사합니다:)',
                            }).then(() => {
                                window.location.href = '/api/boards';
                            });
                            resolve();
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr);
                            console.log(status);
                            console.error(error);
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'center-center',
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            });
                            Toast.fire({
                                icon: 'error',
                                title: '떠나기 실패',
                                text: xhr.responseText,
                            });
                            reject();
                        }
                    });
                });
            },
            allowOutsideClick: () => !Swal.isLoading() // 모달 바깥 클릭 시 닫히지 않도록 설정
        });
    }

    // 각 컬럼을 지우는 함수
    function deleteColumn(columnId) {
        // id는 cardid값임
        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/boards/", "");
        console.log(id);
        console.log(columnId);

        Swal.fire({
            title: '정말 삭제하시겠습니까?',
            text: '다시 되돌릴 수 없습니다.',
            icon: 'warning',

            showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
            confirmButtonColor: '#d33', // confrim 버튼 색깔 지정
            cancelButtonColor: '#3085d6', // cancel 버튼 색깔 지정
            confirmButtonText: '삭제', // confirm 버튼 텍스트 지정
            cancelButtonText: '취소', // cancel 버튼 텍스트 지정

            reverseButtons: false, // 버튼 순서 거꾸로

        }).then(result => {
            // 만약 Promise리턴을 받으면,
            if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
                $.ajax({
                    type: "DELETE",
                    url: `/api/board-columns/${columnId}`,
                    contentType: "application/json",
                    success: function () {
                        Swal.fire({
                            icon: 'success',
                            title: '삭제가 완료되었습니다'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `http://localhost:8080/api/boards/${id}`;
                            }
                        });
                    },
                    error: function () {
                        window.location.href = `http://localhost:8080/api/boards/${id}`;
                    }
                })
            }
        });
    }

    // 보드 제목과 편집 입력란 엘리먼트 선택
    const boardTitle = document.querySelector('.board-title');
    const boardEditInput = document.querySelector('.board-edit');

    // 보드 제목 클릭 이벤트 리스너 추가
    boardTitle.addEventListener('click', () => {
        boardTitle.style.display = 'none';
        boardEditInput.style.display = 'block';
        boardEditInput.value = boardTitle.textContent.trim();
        boardEditInput.focus();
    });

    // 편집 입력란 blur 이벤트 리스너 추가
    boardEditInput.addEventListener('blur', () => {
        boardTitle.style.display = 'block';
        boardEditInput.style.display = 'none';
        boardTitle.textContent = boardEditInput.value;
        const title = boardEditInput.value;

        // boardEditInput의 id 값 가져와서 콘솔에 출력
        const boardEditInputId = boardEditInput.getAttribute('id');
        console.log('보드 아이디: ', boardEditInputId);

        // 서버쪽으로 수정 내용 전달할 코드 추가하기
        $.ajax({
            type: "PATCH",
            url: `/api/boards/${boardEditInputId}`,
            contentType: "application/json",
            data: JSON.stringify({boardTitle: title}),
            success: function () {
                window.location.href = `http://localhost:8080/api/boards/${boardEditInputId}`
            },
            error: function () {
                alert("수정 실패");
                window.location.href = `http://localhost:8080/api/boards/${boardEditInputId}`
            }
        })
    });

    // 각 column-title 클래스 선택 (컬럼 제목을 수정하기 위함)
    const columnTitles = document.querySelectorAll('.column-title');

    // 각 column-title을 클릭할 때 이벤트 처리 (컬럼 제목 수정)
    columnTitles.forEach(columnTitle => {
        const inputElement = columnTitle.nextElementSibling;
        const buttonElement = inputElement.nextElementSibling;

        columnTitle.addEventListener('click', () => {
            columnTitle.style.display = 'none';
            buttonElement.style.display = 'none';
            inputElement.style.display = 'block';
            inputElement.value = columnTitle.textContent.trim();
            inputElement.focus();
        });

        inputElement.addEventListener('blur', () => {
            // id는 postid값임
            let url = window.location.href;
            let id = url.replace("http://localhost:8080/api/boards/", "");
            console.log(id);

            buttonElement.style.display = 'block';
            columnTitle.style.display = 'block';
            inputElement.style.display = 'none';
            columnTitle.textContent = inputElement.value;
            // 반영된 내용을 서버쪽으로 보내는 코드 필요
            const inputId = inputElement.getAttribute('id'); // id 속성에 columnId를 담아줄 것 (그 id를 서버쪽으로 보내야 함)
            console.log(inputElement.value);
            console.log('Input ID:', inputId);

            $.ajax({
                type: "PUT",
                url: `/api/board-columns/${inputId}`,
                contentType: "application/json",
                data: JSON.stringify({
                    boardId: id,
                    boardColumnName: inputElement.value
                }),
                success: function () {
                    window.location.href = `http://localhost:8080/api/boards/${id}`
                },
                error: function () {
                    alert("Error!");
                    window.location.href = `http://localhost:8080/api/boards/${id}`
                }
            })
        });
    });

    // 새로운 컬럼 추가 버튼 클릭 이벤트
    const addColumnBtn = document.querySelector('.column-list-wrapper-column-add');
    const contentContainer = document.querySelector('.content-container');

    // 새로운 컬럼 추가하기
    addColumnBtn.addEventListener('click', () => {
        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/boards/", "");
        console.log(id);

        // 보드 id만 담아서 넘겨주면 될듯 ?
        $.ajax({
            type: "POST",
            url: `/api/board-columns`,
            contentType: "application/json",
            data: JSON.stringify({
                boardId: id,
                boardColumnName: "새 컬럼"
            }),
            success: function () {
                window.location.href = `http://localhost:8080/api/boards/${id}`;
            },
            error: function () {
                alert("컬럼 추가 Error");
                window.location.href = `http://localhost:8080/api/boards/${id}`;
            }
        })
    });

    // 새로운 카드 추가하기
    const addCardButtons = document.querySelectorAll('.add-a-card');

    // 새로운 카드 추가하는 리스너
    addCardButtons.forEach(addCardButton => {
        addCardButton.addEventListener('click', () => {
            // 컬럼의 id 값을 가져오기 위해 컬럼 엘리먼트를 찾음
            const column = addCardButton.closest('.list-content');

            // 새로운 카드 엘리먼트 생성
            const newCard = document.createElement('a');
            newCard.classList.add('list-card');
            newCard.draggable = true;

            // 카드 내용 엘리먼트 생성 및 추가
            const cardDetail = document.createElement('div');
            cardDetail.classList.add('list-card-detail');

            // 카드 제목 엘리먼트 생성 및 추가
            const cardTitleSpan = document.createElement('span');
            cardTitleSpan.classList.add('list-card-title');
            cardTitleSpan.textContent = "새 카드"; // 기본 카드 제목 설정
            cardDetail.appendChild(cardTitleSpan);

            newCard.appendChild(cardDetail);

            // 컬럼의 카드 목록 컨테이너에 새로운 카드 추가
            const columnCardsContainer = column.querySelector('.list-cards');
            columnCardsContainer.appendChild(newCard);

            const id = addCardButton.closest('.add-a-card').id;

            // 컬럼의 id 값을 콘솔에 출력
            console.log(`컬럼 아이디: ${id}`);

            // 보드 id 값을 콘솔에 출력
            let url = window.location.href;
            let boardid = url.replace("http://localhost:8080/api/boards/", "");
            console.log(boardid);

            // 카드 생성을 알리는 서버쪽 코드 추가
            // 반드시 새로고침하기 (아니면 카드 id가 안생김)
            $.ajax({
                type: "POST",
                url: `/api/boards/${boardid}/columns/${id}/cards`,
                contentType: "application/json",
                data: "새 카드",
                success: function () {
                    window.location.href = `http://localhost:8080/api/boards/${boardid}`;
                }, error: function () {
                    window.location.href = `http://localhost:8080/api/boards/${boardid}`;
                }
            })


        });
    });


    /*    const columns = document.querySelectorAll(".column");

        columns.forEach((column) => {
            new Sortable(column, {
                group: "shared",
                animation: 150,
                ghostClass: "blue-background-class"
            });
        });

        // 컬럼 내 카드 순서 바꾸기 드래그 앤 드롭 이벤트 새로 만든 것도 되도록 -완료
        const draggables = document.querySelectorAll(".list-card");
        const containers = document.querySelectorAll(".list-cards");

        draggables.forEach(draggable => {
            draggable.addEventListener("dragstart", (e) => {
                e.stopImmediatePropagation();
                console.log("card drag 시작");
                draggable.classList.add("carddragging");
            });
            draggable.addEventListener("dragend", (e) => {
                e.stopImmediatePropagation();
                draggable.classList.remove("carddragging");
            });

            draggable.addEventListener("drop", e => {
                e.preventDefault();
                draggable.classList.remove("dragging");
                e.stopPropagation();

                const cardId = draggable.id;
                const parentContainerId = draggable.parentNode.parentNode.id;
                const cardIndex = [...draggable.parentNode.children].indexOf(draggable);

                console.log("Card ID:", cardId);
                console.log("Parent Container ID:", parentContainerId);
                console.log("Card Index:", cardIndex);

                $.ajax({
                    type: "PUT",
                    url: `/api/cards/${cardId}/orders`,
                    contentType: "application/json",
                    data: JSON.stringify({
                        columnId: parentContainerId,
                        cardOrder: cardIndex
                    }),
                    success: function () {
                        window.location.reload();
                    },
                    error: function () {
                        window.location.reload();
                    }
                })

            });
        });

        containers.forEach(container => {
            container.addEventListener("dragover", e => {
                e.stopImmediatePropagation();
                e.preventDefault();
                const cardafterElement = getDragCardAfterElementXY(container, e.clientX, e.clientY);
                const carddraggable = document.querySelector(".carddragging");

                container.insertBefore(carddraggable, cardafterElement);

            });
        });

        /!*    draggables.forEach(draggable => {
                draggable.addEventListener("dragstart", e => {
                    e.stopImmediatePropagation();
                    draggable.classList.add("dragging");
                    e.stopPropagation();
                });
                draggable.addEventListener("dragend", e => {
                    e.stopImmediatePropagation();
                    draggable.classList.remove("dragging");
                    e.stopPropagation();

                    // 드래그 앤 드롭 정보 출력
                    const cardId = draggable.id;
                    const parentContainerId = draggable.parentNode.parentNode.id;
                    const cardIndex = [...draggable.parentNode.children].indexOf(draggable);

                    console.log("Card ID:", cardId);
                    console.log("Parent Container ID:", parentContainerId);
                    console.log("Card Index:", cardIndex);

                    // $.ajax({
                    //     type: "PUT",
                    //     url: `/api/cards/${cardId}/orders`,
                    //     contentType : "application/json",
                    //     data: JSON.stringify({
                    //         columnId: parentContainerId,
                    //         cardOrder: cardIndex
                    //     }),
                    //     success: function () {
                    //         window.location.reload();
                    //     },
                    //     error: function () {
                    //         window.location.reload();
                    //     }
                    // })
                });
            });*!/

        function getDragAfterElementY(container, y) {
            const draggableElements = [
                ...container.querySelectorAll(".list-card:not(.dragging)"),
            ];
            return draggableElements.reduce(
                (closest, child) => {
                    const box = child.getBoundingClientRect();
                    const offset = y - box.top - box.height / 2;
                    // console.log(offset);
                    if (offset < 0 && offset > closest.offset) {
                        return {offset: offset, element: child};
                    } else {
                        return closest;
                    }
                },
                {offset: Number.NEGATIVE_INFINITY},
            ).element;
        }

        function getDragCardAfterElementXY(container, x, y) {
            const draggableElements = [
                ...container.querySelectorAll(".list-card:not(.carddragging)"),
            ];

            return draggableElements.reduce(
                (closest, child) => {
                    const box = child.getBoundingClientRect();
                    const offsetX = x - box.left - box.width / 2;
                    const offsetY = y - box.top - box.height / 2;
                    if (offsetX < 0 && offsetX > closest.offsetX && offsetY < 0 && offsetY > closest.offsetY) {
                        return {offsetX: offsetX, offsetY: offsetY, element: child};
                    } else {
                        return closest;
                    }
                },
                {offsetX: Number.NEGATIVE_INFINITY, offsetY: Number.NEGATIVE_INFINITY},
            ).element;
        }

        // 보드 컬럼 순서 바꾸기 드래그 앤 드롭 이벤트
        // 보드 컬럼 순서 변경 ->board-column board order 변경
        const column_draggables = document.querySelectorAll(".column-list-wrapper");
        const column_containers = document.querySelectorAll(".content-container");
        column_draggables.forEach(column_draggable => {

            column_draggable.addEventListener("dragstart", () => {
                column_draggable.classList.add("dragging");
            });

            column_draggable.addEventListener("dragend", () => {
                column_draggable.classList.remove("dragging");
            });
        });

        column_containers.forEach(column_container => {
            column_container.addEventListener("dragover", e => {
                e.preventDefault();
                const afterElement = getDragAfterElementXY(column_container, e.clientX, e.clientY);
                const draggable = document.querySelector(".dragging");

                column_container.insertBefore(draggable, afterElement);
            });

            column_container.addEventListener("drop", e => {
                e.preventDefault();

                const draggingContainer = document.querySelector(".dragging");
                const columnIndex = [...column_container.children].indexOf(draggingContainer) + 1;

                let url = window.location.href;
                let id = url.replace("http://localhost:8080/api/boards/", "");
                console.log(id);
                // 드래그 앤 드롭된 .column-list-wrapper의 ID 값 출력
                const columnId = draggingContainer.id;
                console.log("Dropped at position:", columnIndex);
                console.log("Column ID:", columnId);

                $.ajax({
                    type: "PUT",
                    url: `/api/board-columns/${columnId}`,
                    contentType: "application/json",
                    data: JSON.stringify({
                        boardId: id,
                        boardColumnOrder: columnIndex
                    }),
                    success: function () {
                        window.location.href = `http://localhost:8080/api/boards/${id}`
                    },
                    error: function () {
                        alert("Error!");
                        window.location.href = `http://localhost:8080/api/boards/${id}`
                    }
                })

            });
        });

        function getDragAfterElementXY(container, x, y) {
            const draggableElements = [
                ...container.querySelectorAll(".column-list-wrapper:not(.dragging)"),
            ];

            return draggableElements.reduce(
                (closest, child) => {
                    const box = child.getBoundingClientRect();
                    const offsetX = x - box.left - box.width / 2;
                    const offsetY = y - box.top - box.height / 2;
                    if (offsetX < 0 && offsetX > closest.offsetX && offsetY < 0 && offsetY > closest.offsetY) {
                        return {offsetX: offsetX, offsetY: offsetY, element: child};
                    } else {
                        return closest;
                    }
                },
                {offsetX: Number.NEGATIVE_INFINITY, offsetY: Number.NEGATIVE_INFINITY},
            ).element;
        }*/
</script>
</html>