<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/card.css">

    <title>카드</title>
    <style>

    </style>
</head>
<body>
<body>
<div class="card" th:style="'background-color: ' + ${card.color}">

    <div class="card-title-section">
        <h1 id="card-title" th:class="${card.boardId}" class="card-title" th:text="${card.cardName}" onclick="enableEditMode2()">Card Title</h1>
        <input id="edit-title"  class="edit-title" style="display:none;"/>
        <div class="card-buttons">
            <button class="colorBtn" onclick="toggleColorPalette()">색상 선택</button>
            <button class="carddeleteBtn" th:onclick="'deleteCard(\'' + ${card.boardId} + '\')'">카드 삭제</button>
            <button class="closeBtn" th:onclick="'redirectToBoard(\'' + ${card.boardId} + '\')'">X</button>
        </div>
    </div>

    <div id="colorPalette" style="display:none;">
        <input type="color" id="colorPicker">
        <button id="chageColor" onclick="changeBackgroundColor()">배경색 변경</button>
    </div>

    <h4 class="card-title2" th:text="${card.columnName}">in column</h4>

    <div class="card-description-wrapper">
        <p id="card-description" th:class="${card.boardId}" th:text="${card.desc}" onclick="enableEditMode()"></p>
        <textarea id="edit-description" style="display:none;"></textarea>
    </div>

    <h1 class="card-title">담당자</h1>

    <div class="selected-users-wrapper">
        <div class="selected-users" id="selectedUsers">
            <div th:each="user : ${boardusers}" th:if="${user.selected}" class="selected-user">
                <span th:text="${user.username}"></span>
            </div>
        </div>
    </div>

    <div class="user-selection">
        <div class="user-input-wrapper">
            <input class="user-input" type="text" placeholder="사용자 추가하기">
            <button class="add-user-btn" onclick="sendUser()">유저 추가</button>
        </div>
        <div class="user-list" id="userList">
            <div th:each="user : ${boardusers}" class="user-list-item">
                <span th:text="${user.username}"></span> - <span th:text="${user.nickname}"></span>
            </div>
        </div>
    </div>

    <h1 class="card-title">날짜</h1>

    <div class="date-section">
        <button id="showDatePicker">날짜 선택</button>
        <p id="selectedDateText" th:text="${card.deadline}"></p>
    </div>
    <div id="datepickerContainer" style="display: none;">
        <div id="datepicker"></div>
    </div>

    <div class="comment-section">
        <h2>댓글</h2>
        <div class="comment-submit-section">
            <textarea class="comment-input" placeholder="댓글 작성하기..." id="createcomment"></textarea>
            <button class="add-comment-btn" onclick="comment()">댓글 작성</button>
        </div>
        <div class="comment-section">
            <div class="comment-list" id="commentList">
                <div th:each="comment : ${comments}" class="comment">
                    <div class="comment_one">
                        <div class="comment_head">
                            <img src="https://i.pinimg.com/236x/03/bf/77/03bf77898801f69e678f4721a522f57d.jpg">
                        </div>
                        <div class="comment_body">
                            <p class="comment-author" th:text="${comment.username}">작성자</p>
                            <p class="comment-date" th:text="${comment.createdAt}">날짜</p>
                            <p class="comment-content" th:text="${comment.commentContent}">댓글 내용</p>
                        </div>
                        <div class="comment_bottom">
                            <button class="updateBtn">수정</button>
                            <button class="deleteBtn" th:id="${comment.id}">삭제</button>
                        </div>

                        <div class="edit-form" style="display: none">
                            <input id="updatecomment" th:placeholder="${comment.commentContent}"/>
                            <div class="edit-form-button">
                                <button class="submitBtn" th:id="${comment.id}">저장</button>
                                <button class="cancelBtn">취소</button>
                            </div>
                        </div>
                    </div>
                    <!--한 댓글 종료-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    function deleteCard(boardId) {
        // id는 cardid값임
        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/cards/", "");

        console.log(id);
        console.log("boardId", boardId);
        console.log("cardId", id);

        Swal.fire({
            title: '정말 삭제하시겠습니까?',
            text: '다시 되돌릴 수 없습니다.',
            icon: 'warning',

            showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
            confirmButtonColor: '#d33', // confrim 버튼 색깔 지정
            cancelButtonColor: '#3085d6', // cancel 버튼 색깔 지정
            confirmButtonText: '삭제', // confirm 버튼 텍스트 지정
            cancelButtonText: '취소', // cancel 버튼 텍스트 지정

            reverseButtons: false, // 버튼 순서 거꾸로

        }).then(result => {
            // 만약 Promise리턴을 받으면,
            if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
                $.ajax({
                    type:"DELETE",
                    url:`/api/boards/${boardId}/columns/cards/${id}`,
                    contentType:"application/json",
                    success: function () {
                        Swal.fire({
                            icon: 'success',
                            title: '삭제가 완료되었습니다'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `http://localhost:8080/api/boards/${boardId}`;
                            }
                        });
                    },
                    error: function () {
                        window.location.href = `http://localhost:8080/api/boards/${boardId}`;
                    }
                })
            } else {

            }
        });

    }
    function redirectToBoard(boardId) {
        console.log(boardId);
        var url = '/api/boards/' + boardId;
        window.location.href = url;
    }

    function toggleColorPalette() {
        const colorPalette = document.getElementById("colorPalette");
        colorPalette.style.display = colorPalette.style.display === "none" ? "block" : "none";
    }

    function changeBackgroundColor() {
        const selectedColor = document.getElementById("colorPicker").value;
        const cardElement = document.querySelector(".card");
        cardElement.style.backgroundColor = selectedColor;
        sendColorToServer(selectedColor);
    }

    function hideColorPalette() {
        const colorPalette = document.getElementById("colorPalette");
        colorPalette.style.display = "none";
    }

    function sendColorToServer(color) {
        console.log(color);
        // id는 cardid값임
        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/cards/", "");
        console.log(id);

        // 클래스 이름 가져오기
        const className = cardTitle.className;
        console.log(className); // 클래스 이름 출력

        $.ajax({
            type:"PATCH",
            url: `/api/boards/${className}/columns/cards/${id}`,
            contentType: "application/json",
            data: JSON.stringify({color: color}),
            success: function(response, status, xhr) {
                console.log("PATCH 요청이 성공했습니다.");
                if (xhr.status === 200) {
                    window.location.href = `http://localhost:8080/api/cards/${id}`;
                } else {
                    // 다른 상태 코드에 따라 처리
                    Swal.fire({
                        icon: 'error',
                        title: '누구세요?'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `http://localhost:8080/api/cards/${id}`;
                        }
                    });
                }
            },

            error: function(xhr, status, error) {
                // 요청이 실패한 경우 처리할 로직을 작성합니다.
                console.log("PATCH 요청이 실패했습니다.");
                console.log(xhr.responseText);
                Swal.fire({
                    icon: 'error',                         // Alert 타입
                    title: '회원만 작성 가능합니다'        // Alert 제목
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `http://localhost:8080/api/cards/${id}`;
                    }
                });
            }
        });
    }


    $(document).ready(function() {
        $("#showDatePicker").click(function() {
            $("#datepickerContainer").show();
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd", // 년-월-일 형식
                onSelect: function(dateText) {
                    $("#selectedDateText").text(dateText);
                    $("#datepicker").hide();
                    sendDataToServer(dateText);
                }
            });
        });
    });

    function sendDataToServer(date) {
        // id는 cardid값임
        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/cards/", "");
        console.log(id);

        // 클래스 이름 가져오기
        const className = cardTitle.className;
        console.log(className); // 클래스 이름 출력

        console.log(date);

        $.ajax({
            type:"PATCH",
            url: `/api/boards/${className}/columns/cards/${id}`,
            contentType: "application/json",
            data: JSON.stringify({deadline: date}),
            success: function(response, status, xhr) {
                console.log("PATCH 요청이 성공했습니다.");
                if (xhr.status === 200) {
                    window.location.href = `http://localhost:8080/api/cards/${id}`;
                } else {
                    // 다른 상태 코드에 따라 처리
                    Swal.fire({
                        icon: 'error',
                        title: '누구세요?'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `http://localhost:8080/api/cards/${id}`;
                        }
                    });
                }
            },

            error: function(xhr, status, error) {
                // 요청이 실패한 경우 처리할 로직을 작성합니다.
                console.log("PATCH 요청이 실패했습니다.");
                console.log(xhr.responseText);
                Swal.fire({
                    icon: 'error',                         // Alert 타입
                    title: '회원만 작성 가능합니다'        // Alert 제목
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `http://localhost:8080/api/cards/${id}`;
                    }
                });
            }
        });
    }

    const cardTitle = document.getElementById('card-title');
    const editTitle = document.getElementById('edit-title');

    cardTitle.addEventListener('click', enableEditMode2);

    function enableEditMode2() {
        cardTitle.style.display = 'none';
        editTitle.style.display = 'block';
        editTitle.value = cardTitle.textContent;
        editTitle.focus();
    }

    editTitle.addEventListener('blur', saveChanges2);
    editTitle.addEventListener('keydown', checkEnterKey2);

    function saveChanges2() {
        editTitle.style.display = 'block';
        editTitle.style.display = 'none';

        const newTitle = editTitle.value;

        // id는 cardid값임
        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/cards/", "");
        console.log(id);

        // 클래스 이름 가져오기
        const className = cardTitle.className;
        console.log(className); // 클래스 이름 출력

        $.ajax({
            type:"PATCH",
            url: `/api/boards/${className}/columns/cards/${id}`,
            contentType: "application/json",
            data: JSON.stringify({cardName: newTitle}),
            success: function(response, status, xhr) {
                console.log("PATCH 요청이 성공했습니다.");
                if (xhr.status === 200) {
                    window.location.href = `http://localhost:8080/api/cards/${id}`;
                } else {
                    // 다른 상태 코드에 따라 처리
                    Swal.fire({
                        icon: 'error',
                        title: '누구세요?'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `http://localhost:8080/api/cards/${id}`;
                        }
                    });
                }
            },

            error: function(xhr, status, error) {
                // 요청이 실패한 경우 처리할 로직을 작성합니다.
                console.log("PATCH 요청이 실패했습니다.");
                console.log(xhr.responseText);
                Swal.fire({
                    icon: 'error',                         // Alert 타입
                    title: '회원만 작성 가능합니다'        // Alert 제목
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `http://localhost:8080/api/cards/${id}`;
                    }
                });
            }
        });
        cardTitle.textContent = newTitle; // 수정 내용을 <p> 태그에 반영
    }

    function checkEnterKey2(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            saveChanges2();
        }
    }

    const cardDescription = document.getElementById('card-description');
    const editDescription = document.getElementById('edit-description');

    cardDescription.addEventListener('click', enableEditMode);

    function enableEditMode() {
        cardDescription.style.display = 'none';
        editDescription.style.display = 'block';
        editDescription.value = cardDescription.textContent;
        editDescription.focus();
    }

    editDescription.addEventListener('blur', saveChanges);
    editDescription.addEventListener('keydown', checkEnterKey);

    function saveChanges() {
        cardDescription.style.display = 'block';
        editDescription.style.display = 'none';

        const newDescription = editDescription.value;

        // id는 cardid값임
        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/cards/", "");
        console.log(id);

        // 클래스 이름 가져오기
        const className = cardDescription.className;
        console.log(className); // 클래스 이름 출력

        $.ajax({
            type:"PATCH",
            url: `/api/boards/${className}/columns/cards/${id}`,
            contentType: "application/json",
            data: JSON.stringify({desc: newDescription}),
            success: function(response, status, xhr) {
                console.log("PATCH 요청이 성공했습니다.");
                if (xhr.status === 200) {
                    window.location.href = `http://localhost:8080/api/cards/${id}`;
                } else {
                    // 다른 상태 코드에 따라 처리
                    Swal.fire({
                        icon: 'error',
                        title: '누구세요?'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `http://localhost:8080/api/cards/${id}`;
                        }
                    });
                }
            },

            error: function(xhr, status, error) {
                // 요청이 실패한 경우 처리할 로직을 작성합니다.
                console.log("PATCH 요청이 실패했습니다.");
                console.log(xhr.responseText);
                Swal.fire({
                    icon: 'error',                         // Alert 타입
                    title: '회원만 작성 가능합니다'        // Alert 제목
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `http://localhost:8080/api/cards/${id}`;
                    }
                });
            }
        });
        cardDescription.textContent = newDescription; // 수정 내용을 <p> 태그에 반영
    }

    function checkEnterKey(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            saveChanges();
        }
    }

    const userInput = document.querySelector('.user-input');
    const userList = document.getElementById('userList');
    const selectedUsers = document.getElementById('selectedUsers');

    const userBtns = document.querySelectorAll('.selected-user');

    userBtns.forEach(button => {
        button.addEventListener('click', function () {
            button.remove();
        })
    });

    userInput.addEventListener('focus', function() {
        userList.style.display = 'block';
    });

    userInput.addEventListener('blur', function() {
        setTimeout(() => {
            userList.style.display = 'none';
        }, 200);
    });

    userList.addEventListener('click', function(event) {
        if (event.target.classList.contains('user-list-item')) {
            const selectedUser = document.createElement('div');
            selectedUser.className = 'selected-user';
            selectedUser.textContent = event.target.querySelector('span:first-child').textContent; // 첫 번째 span 태그 안의 텍스트
            selectedUser.addEventListener('click', function() {
                selectedUser.remove();
            });
            selectedUsers.appendChild(selectedUser);
            userInput.value = '';
        }
    });

    window.addEventListener('click', function(event) {
        if (!event.target.matches('.user-input')) {
            userList.style.display = 'none';
        }
    });

    function sendUser() {
        // id는 cardid값임
        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/cards/", "");
        console.log(id);

        // 클래스 이름 가져오기
        const className = cardDescription.className;
        console.log(className); // 클래스 이름 출력

        const selectedUsers = document.querySelectorAll('.selected-user');
        const selectedUserNames = Array.from(selectedUsers).map(user => user.textContent.trim());

        console.log(selectedUserNames); // 선택된 사용자들의 username 값이 담긴 배열

        const existingSelectedUsers = document.querySelectorAll('.selected-users .selected-user');
        if (existingSelectedUsers.length === 0) {
            console.log("No existing selected users.");
        } else {
            existingSelectedUsers.forEach(user => {
                const spanElement = user.querySelector('span');
                if (spanElement) {
                    const username = spanElement.textContent;
                    console.log("Existing selected user:", username);
                } else {
                    console.log("No username found for this user element.");
                }
            });
        }


        // AJAX 요청을 통해 서버로 데이터 전송
        $.ajax({
            type:"PATCH",
            url: `/api/boards/${className}/cards/${id}`,
            contentType: "application/json",
            data: JSON.stringify({ cardUserNames: selectedUserNames }),
            success: function(response) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '카드 회원 수정 완료!'
                }).then(() => {
                    window.location.href = `http://localhost:8080/api/cards/${id}`;
                });
            },
            error: function(error) {
                // 에러 처리 로직
            }
        });
    }

    // 댓글 작성하기
    function comment() {
        let commentcontent = $('#createcomment').val();
        console.log("commentcontent");

        let url = window.location.href;
        let id = url.replace("http://localhost:8080/api/cards/", "");

        $.ajax({
            type:"POST",
            url: `/api/cards/${id}/comments`,
            contentType: "application/json",
            data: JSON.stringify({commentContent: commentcontent}),
            success: function(response, status, xhr) {
                // 요청이 성공한 경우 처리할 로직을 작성합니다.
                console.log("POST 요청이 성공했습니다.");

                // 서버 응답이 성공적으로 왔을 때 처리
                if (xhr.status === 200) {
                    // 서버의 상태 코드가 200(성공)인 경우
                    Swal.fire({
                        icon: 'success',                         // Alert 타입
                        title: '작성 완료!'        // Alert 제목
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `http://localhost:8080/api/cards/${id}`;
                        }
                    });
                } else {
                    // 다른 상태 코드에 따라 처리
                    Swal.fire({
                        icon: 'error',
                        title: '회원만 작성 가능합니다'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `http://localhost:8080/api/cards/${id}`;
                        }
                    });
                }
            },
            error: function(xhr, status, error) {
                // 요청이 실패한 경우 처리할 로직을 작성합니다.
                console.log("POST 요청이 실패했습니다.");
                console.log(xhr.responseText);
                Swal.fire({
                    icon: 'error',                         // Alert 타입
                    title: '회원만 작성 가능합니다'        // Alert 제목
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `http://localhost:8080/api/cards/${id}`;
                    }
                });
            }
        });

    }

    // 댓글 수정창 오픈 버튼
    const updateBtns = document.querySelectorAll('.updateBtn');
    updateBtns.forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();

            const commentOne = button.closest('.comment_one');
            const commentHead = commentOne.querySelector('.comment_head');
            const commentBody = commentOne.querySelector('.comment_body');
            const commentBottom = commentOne.querySelector('.comment_bottom');

            const editForm = commentOne.querySelector('.edit-form');

            // 댓글 내용 부분 숨김
            commentBody.style.display = 'none';
            commentBottom.style.display = 'none';

            // 수정 폼 부분 표시
            editForm.style.display = 'flex';
        });
    });

    // 댓글 수정 취소 버튼
    const cancelBtns = document.querySelectorAll('.cancelBtn');
    cancelBtns.forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();

            const commentOne = button.closest('.comment_one');
            const commentHead = commentOne.querySelector('.comment_head');
            const commentBody = commentOne.querySelector('.comment_body');
            const commentBottom = commentOne.querySelector('.comment_bottom');

            const editForm = commentOne.querySelector('.edit-form');

            // 댓글 내용 부분 표시
            commentBody.style.display = 'flex';
            commentBottom.style.display = 'flex';

            // 수정 폼 부분 숨김
            editForm.style.display = 'none';
        });
    });

    // 댓글 수정 버튼
    const submitBtns = document.querySelectorAll('.submitBtn');
    submitBtns.forEach(button => {
        button.addEventListener('click', function () {
            const form = button.closest('.edit-form');
            const updatecomment = form.querySelector('#updatecomment');
            const value = updatecomment.value;

            // id는 cardid값
            let url = window.location.href;
            let id = url.replace("http://localhost:8080/api/cards/", "");
            console.log("cardid: ",id);

            let commentId = button.id; // comment.id 값을 가져옴
            console.log("commentid: ", commentId);

            console.log("commentContent: ", value);

            $.ajax({
                type: "PUT",
                url: `/api/cards/${id}/comments/${commentId}`,
                contentType: "application/json",
                data: JSON.stringify({commentContent: value}),
                success: function(response, status, xhr) {

                    // 요청이 성공한 경우 처리할 로직을 작성합니다.
                    console.log("PUT 요청이 성공했습니다.");

                    // 서버 응답이 성공적으로 왔을 때 처리
                    if (xhr.status === 200) {
                        // 서버의 상태 코드가 200(성공)인 경우
                        Swal.fire({
                            icon: 'success',                         // Alert 타입
                            title: '수정 완료!'        // Alert 제목
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `http://localhost:8080/api/cards/${id}`;
                            }
                        });
                    } else {
                        // 다른 상태 코드에 따라 처리
                        Swal.fire({
                            icon: 'error',                         // Alert 타입
                            title: '작성자만 수정 가능합니다.'        // Alert 제목
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `http://localhost:8080/api/cards/${id}`;
                            }
                        });
                    }
                },
                error: function(xhr, status, error) {
                    // 요청이 실패한 경우 처리할 로직을 작성합니다.
                    console.log("POST 요청이 실패했습니다.");
                    console.log(xhr.responseText);
                    Swal.fire({
                        icon: 'error',                         // Alert 타입
                        title: '작성자만 수정 가능합니다'        // Alert 제목
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `http://localhost:8080/api/cards/${id}`;
                        }
                    });
                }
            });

        })
    });

    // 댓글 삭제 버튼
    const deleteBtns = document.querySelectorAll('.deleteBtn');
    deleteBtns.forEach(button => {
        button.addEventListener('click', function () {
            // id는 cardid값임
            let url = window.location.href;
            let id = url.replace("http://localhost:8080/api/cards/", "");
            console.log(id);

            let commentId = button.id; // comment.id 값을 가져옴
            console.log(commentId);

            $.ajax({
                type: "DELETE",
                url: `/api/cards/${id}/comments/${commentId}`,
                contentType: "application/json",
                success: function(response, status, xhr) {
                    if (xhr.status === 200) {
                        Swal.fire({
                            icon: 'success',
                            title: '삭제 완료!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `http://localhost:8080/api/cards/${id}`;
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: '작성자만 삭제 가능합니다.'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `http://localhost:8080/api/cards/${id}`;
                            }
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.log("DELETE 요청이 실패했습니다.");
                    console.log(xhr.responseText);
                    Swal.fire({
                        icon: 'error',
                        title: '작성자만 삭제 가능합니다'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `http://localhost:8080/api/cards/${id}`;
                        }
                    });
                }
            });

        })
    });
</script>
</body>
</html>
