<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/loginsignup.css">

    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/9261/9261993.png" />
    <title>하-ㄹ모니</title>
    <style>

    </style>
</head>
<body>
<div class="container" id="container">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- SIGN UP -->
        <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
                <div class="form sign-up">
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input id="signupusername" placeholder="Username" type="text">
                    </div>
                    <div class="input-group">
                        <i class='bx bx-mail-send'></i>
                        <input id="signupnickname" placeholder="Nickname" type="text">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input id="signuppassword" placeholder="Password" type="password">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input id="signupconfirmpassword" placeholder="Confirm password" type="password">
                    </div>
                    <button onclick="signup()">
                        회원가입
                    </button>
                    <p>
                  <span>
                    이미 계정이 있으신가요 ?
                  </span>
                        <b class="pointer" onclick="toggle()">
                            로그인 하러가기
                        </b>
                    </p>

                </div>
            </div>

        </div>
        <!-- END SIGN UP -->
        <!-- SIGN IN -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <div class="form sign-in">
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input id="loginusername" placeholder="Username" type="text">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input id="loginpassword" placeholder="Password" type="password">
                    </div>
                    <button onclick="login()">
                        로그인
                    </button>
                    <p>
                  <span>
                    계정이 없으신가요?
                  </span>
                        <b class="pointer" onclick="toggle()">
                            회원가입 하러가기
                        </b>
                    </p>
                    <button onclick="location.href='https://accounts.google.com/o/oauth2/v2/auth?client_id=859214207111-dfcm6u4doh7r6p2vhimmqk8k69j2rsr6.apps.googleusercontent.com&redirect_uri=http://localhost:8080/api/users/google/callback&response_type=code&scope=email'">
                        구글 로그인
                    </button>
                </div>
            </div>
            <div class="form-wrapper">

            </div>
        </div>
        <!-- END SIGN IN -->
    </div>
    <!-- END FORM SECTION -->
    <!-- CONTENT SECTION -->
    <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <h2>
                    Welcome
                </h2>

            </div>
            <div class="img sign-in">

            </div>
        </div>
        <!-- END SIGN IN CONTENT -->
        <!-- SIGN UP CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="img sign-up">

            </div>
            <div class="text sign-up">
                <h2>
                    Join with us
                </h2>

            </div>
        </div>
        <!-- END SIGN UP CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
</div>
</body>
<script>

    $(document).ready(function () {
        // 토큰 삭제
        Cookies.remove('Authorization', {path: '/'});
    });

    let container = document.getElementById('container')

    toggle = () => {
        container.classList.toggle('sign-in')
        container.classList.toggle('sign-up')
    }

    setTimeout(() => {
        container.classList.add('sign-in')
    }, 200)

    function login() {
        var username = document.getElementById("loginusername").value;
        var password = document.getElementById("loginpassword").value;

        if (username === '' || password === '') {
            alert("정보를 모두 입력해주세요");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/api/users/login",
            data: JSON.stringify({
                username: username,
                password: password
            }),
            contentType: "application/json",

            success: function (response) {
                if (response === "로그인 성공") {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'center-center',
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: '로그인 성공'
                    }).then(() => {
                        window.location.href = "http://localhost:8080/api/boards";
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '로그인 실패',
                        text: response,
                    });
                }
            },
            error: function (xhr) {
                Swal.fire({
                    icon: 'error',
                    title: '로그인 실패',
                    text: "아이디 혹은 비밀번호를 확인하세요",
                });
            }
        })
    }

    function signup() {
        var username = document.getElementById("signupusername").value;
        var nickname = document.getElementById("signupnickname").value;
        var password = document.getElementById("signuppassword").value;
        var confirmpassword = document.getElementById("signupconfirmpassword").value;

        if (username === '' || password === '' || nickname === '' || confirmpassword === '') {
            Swal.fire({
                icon: 'warning',
                title: '회원가입 실패',
                text: "회원 정보를 모두 입력해주세요"
            });
        }

        let email_format = '/^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+)';

        let email_format = '^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\\.[0-9a-zA-Z_-]+)$';

        if (!username.match(email_format)) {
            Swal.fire({
                icon: 'warning',
                title: '회원가입 실패',
                text: "아이디가 이메일 형식에 부합하지 않습니다."
            });
            document.getElementById("signupusername").style.color = "red"; // 일치하지 않을 경우 글씨 색을 빨간색으로 변경
            return;
        }

        if (password !== confirmpassword) {
            Swal.fire({
                icon: 'warning',
                title: '회원가입 실패',
                text: "비밀번호가 일치하지 않습니다"
            });
            document.getElementById("signupconfirmpassword").style.color = "red"; // 일치하지 않을 경우 글씨 색을 빨간색으로 변경
            return;
        }

        $.ajax({
            type: "POST",
            url: "/api/users/signup",
            data: JSON.stringify({
                username: username,
                nickname: nickname,
                password: password
            }),
            contentType: "application/json",

            success: function (response) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'center-center',
                    showConfirmButton: false,
                    timer: 800,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '회원가입 성공'
                }).then(() => {
                    window.location.href = "http://localhost:8080/api/users/login-page";
                });

            },
            error: function (xhr) {
                if (xhr.responseText) {
                    try {
                        const responseJson = JSON.parse(xhr.responseText);
                        const errorMessage = responseJson.message;
                        Swal.fire({
                            icon: 'error',
                            title: '회원가입 실패',
                            text: errorMessage,
                        });
                    } catch (e) {
                        Swal.fire({
                            icon: 'error',
                            title: '회원가입 실패'
                        });
                    }
                }
            }
        })
    }
</script>
</html>